*.iml
.gradle
/.idea/workspace.xml
/local.properties
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/gradle.properties
/app/src/main/res/values/strings.xml
/app/src/main/res/values/styles.xml
